<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <title>StickyLink</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <nav>
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Company Logo"> 
        </a>
        <a href="/">Home</a>
        <a href="{{ url_for('products') }}">Products</a>
        <a href="{{ url_for('shop') }}">Shop</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('account') }}">Account</a>
        {% if current_user.role == 'admin' %}
        <a href="{{ url_for('admin_users') }}">Users</a>
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </nav>

<body>
    <h1>User Management</h1>
    <form id="userForm">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="role">Role:</label><br>
        <select id="role" name="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select><br>
        <input type="submit" value="Add User">
    </form>
    <div id="userList"></div>
    <script src="userManagement.js"></script>
</body>
<script>
    document.getElementById('userForm').addEventListener('submit', function(event) {
    event.preventDefault();

    var username = document.getElementById('username').value;
    var role = document.getElementById('role').value;

    // Create a new XMLHttpRequest object
    var xhr = new XMLHttpRequest();

    // Configure the request
    xhr.open('POST', '/change_role', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    // Set up what happens when the request is sent
    xhr.onload = function() {
        if (xhr.status === 200) {
            var userList = document.getElementById('userList');
            var userItem = document.createElement('div');
            userItem.textContent = 'Username: ' + username + ', Role: ' + role;
            userList.appendChild(userItem);
        } else {
            console.error('Request failed. Returned status of ' + xhr.status);
        }
    };

    // Send the request
    xhr.send('username=' + encodeURIComponent(username) + '&role=' + encodeURIComponent(role));
});

</script>

</html>