<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <title>StickyLink</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <nav>
        <a href="/"> <img src="{{ url_for('static', filename='logo.png') }}" alt="Company Logo"> </a>
        <a href="/">Home</a>
        <a href="{{ url_for('products') }}">Products</a>
        <a href="{{ url_for('orders') }}">Orders</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('account') }}">Account</a>
        {% if current_user.role == 'admin' %}
        <a href="{{ url_for('admin_users') }}">Users</a>
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </nav>
    {% if current_user.is_authenticated %}
    <div class="user-info">
        <h2>User Information</h2>
        <form id="editUserInfoForm" action="{{ url_for('update_user_info') }}" method="post">
            <!-- First Name -->
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" value="{{ current_user.first_name }}" required>
            </div>
            
            <!-- Last Name -->
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value="{{ current_user.last_name }}" required>
            </div>
            
            <!-- Email (non-editable) -->
            <div class="form-group">
                <label for="email">Email (non-editable):</label>
                <input type="email" id="email" name="email" value="{{ current_user.username}}" required readonly>
            </div>
            
            
            <!-- Phone Number -->
            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <input type="text" id="phone_number" name="phone_number" value="{{ current_user.phone_number }}">
            </div>

            <div class="form-group">
                <label for="address_line1">Address Line 1:</label>
                <input type="text" id="address_line1" name="address_line1" value="{{ current_user.address_line1 }}" required>
            </div>
            
            <!-- Province -->
            <div class="form-group">
                <label for="province">Province:</label>
                <input type="text" id="province" name="province" value="{{ current_user.province }}" required>
            </div>
            
            <!-- City -->
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" value="{{ current_user.city }}" required>
            </div>
            
            <!-- Postcode -->
            <div class="form-group">
                <label for="postcode">Postcode:</label>
                <input type="text" id="postcode" name="postcode" value="{{ current_user.postcode }}" required>
            </div>
            
            <!-- Submit Button -->
            <div class="form-group">
                <input type="submit" value="Save Changes" class="submit-btn">
            </div>
            
        </form>
    </div>
    <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
    {% else %}
    <h1>You are not logged in</h1>
    <a href="{{ url_for('login') }}" class="login-btn">Login</a>
    {% endif %}

</body>
</html>