<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <title>StickyLink</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <nav>
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Company Logo"> 
        </a>
        <a href="/">Home</a>
        <a href="{{ url_for('products') }}">Products</a>
        <a href="{{ url_for('shop') }}">Shop</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('account') }}">Account</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
    </nav>
    <div>
        <div id="login-form">
            <h2>Login Form</h2>
            <p>Log in or Sign Up if you havent to access your account and start ordering. 
            </p>
            <form action="{{ url_for('login') }}" method="post">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Submit">
                <a href="#" id="signup-link">Sign Up</a>
            </form>
        </div>
        <div id="signup-form" style="display: none;">
            <h2>Sign Up Form</h2>
            <form action="{{ url_for('register') }}" method="post">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Register">
                <a href="#" id="login-link">Log In</a>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('login-link').addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById('login-form').style.display = 'block';
            document.getElementById('signup-form').style.display = 'none';
        });

        document.getElementById('signup-link').addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById('login-form').style.display = 'none';
            document.getElementById('signup-form').style.display = 'block';
        });
    </script>
</body>
</html>
